{% extends "base_subnav.html" %}
{% load static %}

{% block extra_head %}
  <link href='{% static "css/nv.d3.min.css" %}' type='text/css'
    media='screen' rel='stylesheet' />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div id="graph-buttons" class="btn-group">
        <button id="cumulative" type="button"
        	class="btn btn-default active">Cumulative</button>
        <button id="frequency" type="button"
        	class="btn btn-default">Frequency</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="inner-plot-container">
        <div id="plot-area" class="plot-alignment chart-container"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script src='{% static "js/d3.v3.js" %}'></script>
  <script src='{% static "js/nv.d3.js" %}'></script>
  <script src='{% static "js/user_statistics_nv.js" %}'></script>
{% endblock %}
