requests
lxml
cssselect
Django~=4.0
djangorestframework
django-filter
python-dateutil
mysqlclient
pymemcache
pbr
django_compressor~=4.4
django-libsass~=0.9
mozilla-django-oidc~=3.0
django-bootstrap-datepicker-plus~=5.0
whitenoise
django-tz-detect @ git+https://github.com/adamcharnock/django-tz-detect@develop
