requests
lxml
cssselect
Django~=5.2
djangorestframework
django-filter
python-dateutil
mysqlclient
pymemcache
pbr
django_compressor
django-libsass
mozilla-django-oidc
django-bootstrap-datepicker-plus~=6.0.0
whitenoise
django-tz-detect>=0.5.0
django-health-check
django-csp
pyyaml
icalendar
