ul.breadcrumb {
    height: 36px;
}

.top-buffer {
    margin-top:20px;
}

.navigation-area {
    background-color: #eee;
}

table.for-projects caption {
    font-size: 24px;
    font-weight: 500;
}

.table-hover tbody tr:hover td {
    background-color: Blue;
    color: White;
}

.opaque-plot-label {
    opacity:0.5;
}

.plot-slice {
    cursor: pointer;
}

.name-plot-label {
    cursor: pointer;
}

.value-plot-label {
    cursor: pointer;
}

.click-message {
    cursor: pointer;
}

.row-click {
    cursor: pointer;
}

#plot-area.affix {
    position: fixed;
    top: 0;
}

@media(max-width:767px){
   #plot-area.affix {
     position: static;
     width: auto;
     top: 0;
    }
}
