.table-sorter th {
    cursor: pointer;
}

table .service {
    width: 200px;
}

thead {
    font-weight: bold;
}

.crampt {
        padding: 2px 8px 2px 8px !important;
}

#averages {
    padding-right:  200px;
}

img.graphite {
    background-image: url("/static/img/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.chart-container {
    height: 400px;
}

.sad-jumbotron {
    align-text: center;
}

.sad-jumbotron div {
    margin: 0 auto;
}

.chart-tooltip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    padding: 5px;
    text-align: center;
}
