/* Details Panel */

.details-container { 
    vertical-align: middle;
    background-color: #ffffff; 
    margin: 0 auto;
    padding: 2px;
    max-width:300px;
}

.project-details-container { 
    vertical-align: middle;
    margin: 20 auto;
    padding: 10px;
}

.project-allocations-container { 
    vertical-align: middle;
    margin: 20 auto;
    padding: 10px;
}

/* Master List */

.project-visualisation-container { 
    width: 120px;
    vertical-align: middle;
    text-align: left;
    background-color: #ffffff; 
    padding: 10px;
}

.project-visualisation-container h4 { 
    font-weight: bold;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

