{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href='{% static "css/allocation-visualisation.css" %}' type='text/css' media='screen' rel='stylesheet'/>
    <link href='{% static "css/master-detail.css" %}' type='text/css' media='screen' rel='stylesheet'/>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 my-2">
        <ul id="filter-buttons" class="nav nav-pills justify-content-md-start">
          <li id="filter-all" class="nav-item"><a class="nav-link active" href="#" data-toggle="tab">All</a></li>
          <li id="filter-national" class="nav-item"><a class="nav-link" href="#" data-toggle="tab">National</a></li>
          <li id="filter-local" class="nav-item"><a class="nav-link" href="#" data-toggle="tab">Local</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 my-2">
        <ul id="graph-buttons" class="nav nav-pills justify-content-md-center">
          <li id="cores" class="nav-item"><a class="nav-link active" href="#" data-toggle="tab">Cores</a></li>
          <li id="instances" class="nav-item"><a class="nav-link" href="#" data-toggle="tab">Instances</a></li>
          <li id="budget" class="nav-item"><a class="nav-link" href="#" data-toggle="tab">Budget</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 my-2">
        <ul id="code-buttons" class="nav nav-pills justify-content-md-end">
          <li id="2008" class="nav-item"><a class="nav-link" href="#" data-toggle="tab">ANZSRC 2008</a></li>
          <li id="2020" class="nav-item"><a class="nav-link active" href="#" data-toggle="tab">ANZSRC 2020</a></li>
        </ul>
      </div>
    </div>
    <div class="row my-4" id="chart-navigator-1">
      <div class="col-12 col-md-12">
        <ul class="breadcrumb"></ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 id="statistics-area" class="text-center"></h4>
        <div id="plot-area" class="d-flex justify-content-center"></div>
      </div>
      <div class="col-12 col-md-6 justify-content-end">
        <div id="table-area"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
    // Global vars
    var allocationURL = '{{ allocation_url }}';
    var forcodeSeries = '{{ forcode_series }}';
  </script>
  <script src='{% static "js/d3.v4.min.js" %}'></script>
  <script src='{% static "js/breadcrumbs.js" %}'></script>
  <script src='{% static "js/colour_palette.js" %}'></script>
  <script src='{% static "js/allocations.js" %}'></script>
  <script src='{% static "js/allocations_pie.js" %}'></script>
  <script src='{% static "js/for_table.js" %}'></script>
{% endblock %}
