{% extends "base.html" %}

{% block extra_head %}
    <link href='{{ STATIC_URL }}css/allocation-visualisation.css' type='text/css' media='screen' rel='stylesheet'/>
    <link href='{{ STATIC_URL }}css/master-detail.css' type='text/css' media='screen' rel='stylesheet'/>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-8">
        <h4>All Approved Allocation Requests</h4>
        <div id="project-details"  class='project-allocations-container'></div>
      </div>
      <div class="col-md-4">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      &nbsp;
      </div>
    </div>
{% endblock %}
  
{% block extra_script %}
  <script src="{{ STATIC_URL }}js/d3.v3.js"></script>
  <script>allocationId = {{ allocation_request_id }}</script>
  <script src="{{ STATIC_URL }}js/project_allocations.js"></script>
{% endblock %}
  
  