{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page-header %}
  <div id="page-header" class="container my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'outages:list' %}">Announcements</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ outage.title }}</li>
      </ol>
    </nav>
    <div class="d-md-flex">
      <h1 class="pb-4">Service Announcement</h1>
      {% if request.user.is_staff %}
        <div class="ms-auto btn-bar">
          {% if outage.end %}
            <a href="{% url 'outages:add_update' outage.id %}" class="btn btn-outline-primary btn-sm" id="reopen"><i class="fas fa-undo"></i> Reopen</a>
          {% elif outage.start %}
            <a href="{% url 'outages:add_update' outage.id %}" class="btn btn-outline-primary btn-sm" id="update"><i class="fa fa-plus"></i> New update</a>
          {% endif %}
          {% if outage.scheduled and not outage.cancelled and not outage.start %}
            <a href="{% url 'outages:start' outage.id %}" class="btn btn-outline-primary btn-sm" id="start"><i class="fa fa-play"></i> Start</a>
            <a href="{% url 'outages:cancel' outage.id %}" class="btn btn-outline-primary btn-sm" id="cancel"><i class="fa fa-times"></i> Cancel</a>
          {% endif %}
          <a href="/admin/outages/outage/{{ outage.id }}/change/" class="btn btn-outline-primary btn-sm" id="edit"><i class="fa fa-pen"></i> Edit</a>
          {% if outage.start and not outage.end %}
            <a href="{% url 'outages:end' outage.id %}" class="btn btn-outline-primary btn-sm" id="end"><i class="fa fa-stop"></i> End</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-8 col-xl-9" id="outage-{{ outage.id }}">
        <h5 class="text-uppercase">{{ outage.scheduled_display }} Outage </h5>
        <h3>{{ outage.title }}</h3>
        <ul class="list-unstyled">
          {% if request.user.is_staff %}
          <li>
            <strong>Announcement created by:</strong> {{ outage.created_by.username }}
          </li>
          {% endif %}
          {% if outage.scheduled %}
          <li>
             <strong>Scheduled start:</strong> {{ outage.scheduled_start|date:"D, j M Y g:ia (T)" }},
            <strong>Scheduled end:</strong> {{ outage.scheduled_end|date:"D, j M Y g:ia (T)" }}{% if outage.cancelled %},
            <strong>Cancelled</strong>
            {% endif %}
          </li>
          {% endif %}
          {% if outage.start %}
          <li>
            <strong>Outage start:</strong> {{ outage.start|date:"D, j M Y g:ia (T)" }},
            {% if outage.end %}
            <strong>Outage end:</strong> {{ outage.end|date:"D, j M Y g:ia (T)" }}
            {% else %}
            <strong>Outage is ongoing</strong>
            {% endif %}
          </li>
          {% endif %}
          <!-- <li><strong>Affected Zones:</strong></li>
          <li><strong>Affected Services:</strong></li> -->
        </ul>
        {{ outage.description|linebreaks|urlize }}
      </div>
      {% if not outage.cancelled %}
      <div class="col-12 col-md-4 col-xl-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <h6>Current Status:</h6>
            <p class="h5 text-uppercase">{{ outage.status_display }}</p>
            <h6>Severity:</h6>
            <img class="severity-dial" src="{% get_static_prefix %}img/severity{{ outage.severity }}.svg" />
            <p class="h5 text-uppercase">{{ outage.severity_display }}</p>
            <p>Last modification at: <br />
              <strong>{{ outage.modification_time|date:"D, j M Y g:ia (T)" }}</strong>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% with updates=outage.visible_updates %}
  
  <div class="container mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h2>Updates</h2>
        </div>
        <hr />
        {% if updates|length > 0 %}
          <ul class="updates-list">
            {% for update in updates reversed %}
            <li class="update-item {% if forloop.first %}text-dark{% endif %}" id="update-{{ update.id }}">
              <span class="outage-emoji outage-status-{{ update.status }}-emoji"></span>
              <span class="outage-status">{{ update.status_display }}</span>
              <p>
                <strong>{{ update.content|linebreaks|urlize }}</strong><br />
                Update posted
                {% if request.user.is_staff %}
                by {{ update.created_by.username }}
                {% endif %}
                {{ update.time|naturaltime }}.
              </p>
            </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>There are currently no updates.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endwith %}
{% endblock %}
