{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div id="page-header" class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Announcements</li>
    </ol>
  </nav>
  <div class="d-md-flex">
    <h1 class="pb-4">Service Announcements</h1>
    {% if request.user.is_staff %}
      <div class="ms-auto btn-bar">
        <a href="{% url 'outages:create_scheduled' %}" id="scheduled" class="btn btn-outline-primary btn-sm">Create scheduled outage</a>
        <a href="{% url 'outages:create_unscheduled' %}" id="unscheduled" class="btn btn-outline-primary btn-sm">Create unscheduled outage</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-4">
  <form id="filter-form" method="get">
    <div class="card filter-panel">
      <div class="card-title">Filters</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="scheduled_id">Type</label>
            {{ filter.form.scheduled }}
          </div>
          <div class="col">
            <label for="cancelled_id">Cancelled</label>
            {{ filter.form.cancelled }}
          </div>
          <div class="col">
            <label for="activity_id">Activity</label>
            {{ filter.form.activity }}
          </div>
          <div class="col">
            <label for="time_window_id">Time Window</label>
            {{ filter.form.time_window }}
          </div>
          <!-- <div class="col">
            <label for="ordering_id">Ordering</label>
            {{ filter.form.ordering }}
          </div> -->
        </div>
      </div>
    </div>
  </form>
  <p class="text-center text-muted">Showing {{ filter.qs.count }} service announcements.</p>
  {% if filter.qs.count > 0 %}
    <ul class="list-unstyled">
      {% for outage in filter.qs %}
        <div class="card my-4">
          <div class="card-body">
            {% include "outages/outage_summary.html" %}
          </div>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
