{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div id="page-header" class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Announcements</li>
    </ol>
  </nav>
  <div class="d-md-flex">
    <h1 class="pb-4">Service Announcements</h1>
    {% if request.user.is_staff %}
      <div class="ms-auto btn-bar">
        <a href="{% url 'outages:create_scheduled' %}" id="scheduled" class="btn btn-outline-primary btn-sm">Create scheduled outage</a>
        <a href="{% url 'outages:create_unscheduled' %}" id="unscheduled" class="btn btn-outline-primary btn-sm">Create unscheduled outage</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-4">
  <form id="filter-form" method="get">
    <div class="card filter-panel">
      <div class="card-title">Filters</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="scheduled_id">Type</label>
            {{ filter.form.scheduled }}
          </div>
          <div class="col">
            <label for="cancelled_id">Cancelled</label>
            {{ filter.form.cancelled }}
          </div>
          <div class="col">
            <label for="activity_id">Activity</label>
            {{ filter.form.activity }}
          </div>
          <div class="col">
            <label for="time_window_id">Time Window</label>
            {{ filter.form.time_window }}
          </div>
          <!-- <div class="col">
            <label for="ordering_id">Ordering</label>
            {{ filter.form.ordering }}
          </div> -->
        </div>
      </div>
    </div>
  </form>
  <p class="text-center text-muted">Showing {{ filter.qs.count }} service announcements.</p>
  {% if filter.qs.count > 0 %}
    <ul class="list-unstyled">
      {% for outage in filter.qs %}
        <div class="card my-4">
          <div class="card-body">
            <li class="d-flex">
              <div class="announcement-severity">
                <img class="severity-dial-sm" src="{% get_static_prefix %}img/severity{{ outage.severity }}.svg" />
              </div>
              <div class="announcement-details ps-4">
                <h5 class="text-uppercase">
		  {% if outage.status_display == "Resolved" %}(Resolved)&nbsp;{% elif outage.status_display == "Completed" %}(Completed)&nbsp;{% endif %}
                  {{ outage.scheduled_display }} Outage
                </h5>
                <h4>
		  {{ outage.title }}
		</h4>
                <p>
                  <strong>Status:</strong> {{ outage.status_display }}
                  {% if outage.start %}
                    <strong>Start:</strong> {{ outage.start|date:"D, j M Y g:ia (T)" }}
                  {% elif outage.scheduled and outage.scheduled_start %}
                    <strong>Start:</strong> {{ outage.scheduled_start|date:"D, j M Y g:ia (T)" }} (scheduled)
                  {% endif %}
                  {% if outage.end %}
                    <strong>End:</strong> {{ outage.end|date:"D, j M Y g:ia (T)" }}
                  {% elif outage.scheduled and outage.scheduled_end%}
                    <strong>End:</strong> {{ outage.scheduled_end|date:"D, j M Y g:ia (T)" }} (scheduled).</p>
                  {% endif %}
                </p>
                <a href="{{ outage.get_absolute_url }}" class="card-link"><span class="card-link-btn">View announcement</span></a>
              </div>
            </li>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
