{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div id="page-header" class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Announcements</li>
    </ol>
  </nav>
  <div class="d-md-flex">
    <h1 class="pb-4">Service Announcements</h1>
    {% if request.user.is_staff %}
      <div class="ms-auto btn-bar">
        <a href="scheduled/" id="scheduled" class="btn btn-outline-primary btn-sm">Create scheduled outage</a>
        <a href="unscheduled/" id="unscheduled" class="btn btn-outline-primary btn-sm">Create unscheduled outage</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-4">
  <p>There are {{ outages|length }} service announcements.</p>
  {% if outages|length > 0 %}
    <ul class="list-unstyled">
      {% for outage in outages %}
        <div class="card my-4">
          <div class="card-body">
            <li class="d-flex">
              <div class="announcement-severity">
                <img class="severity-dial-sm" src='{% static "img/severity" %}{{ outage.severity }}.svg' />
              </div>
              <div class="announcement-details ps-4">
                <h5 class="text-uppercase">
                  {% if outage.status_display == "Resolved" %}(Resolved)&nbsp;{% elif outage.status_display == "Completed" %}(Completed)&nbsp;{% endif %}
                  {{ outage.scheduled_display }} Outage
                </h5>
                <h4>
                  {{ outage.title }}
                </h4>
                <p>
                  <strong>Status:</strong> {{ outage.status_display }}
                  {% if outage.start %}
                    <strong>Start:</strong> {{ outage.start }}
                  {% elif outage.scheduled and outage.schedule_start %}
                    <strong>Start:</strong> {{ outage.schedule_start }} (scheduled)
                  {% endif %}
                  {% if outage.end %}
                    <strong>End:</strong> {{ outage.end }}
                  {% elif outage.scheduled and outage.schedule_end%}
                    <strong>End:</strong> {{ outage.schedule_end }} (scheduled).</p>
                  {% endif %}
                </p>
                <a href="{{ outage.id }}" target="_blank" class="card-link"><span class="card-link-btn">View announcement</span></a>
              </div>
            </li>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
