{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div id="page-header" class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'outages:list' %}">Announcements</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Scheduled</li>
    </ol>
  </nav>
  <h1 class="pb-4">Create a Scheduled Outage Announcement</h1>
  <p>Unsure how to create the outage? Instructions are found <a target="_blank" href="https://wiki.rc.nectar.org.au/wiki/Service_Announcements#:~:text=of%20an%20announcement.-,Creating%20and%20managing%20an%20Unscheduled%20Outage,-%5Bedit%5D">in the Nectar Wiki</a>.</p>

</div>
{% endblock %}

{% block content %}
<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.scheduled.as_hidden }}
        <fieldset>
          <div class="mb-3">
            <div class="form-label">Title</div>
            <div>
              {{ form.title }}
              {% for error in form.title.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="mb-3">
            <div class="form-label">Description</div>
            <div>
              {{ form.description }}
              {% for error in form.description.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-label">Severity</div>
            <div class="col-md-6 col-lg-4">
              {{ form.scheduled_severity }}
              {% for error in form.scheduled_severity.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div id="severity-help" class="form-text">
              Severe - indicates that the problem is highly likely to be disruptive for a significant number of Nectar users.<br />
              Significant - indicates that the problem only affects a small number of users, or that the impact is not significantly disruptive.<br />
              Minimal - indicates that the outage is not likely to be disruptive to anyone.
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-label">Scheduled start date & time</div>
            <div class="col-md-6 col-lg-4">
              {{ form.scheduled_start }}
              {% for error in form.scheduled_start.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-label">Schedule end date & time</div>
            <div class="col-md-6 col-lg-4">
              {{ form.scheduled_end }}
              {% for error in form.scheduled_end.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create</button>
        {% if 'outages' in request.META.HTTP_REFERER %}
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-link">Back to announcements</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_script %}
{{ form.media }}
{% endblock %}
