{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row my-4">
      <div class="col-12">
      <h4>Allocation details</h4>
        <div id="project-summary" class='project-details-container'></div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
      <h4>Allocation quota</h4>
        <div id="project-quota" class='project-details-container'></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
    // Global vars
    var allocationURL = '{{ allocation_url }}';
    var forcodeSeries = '{{ forcode_series }}';
    var allocationId = '{{ allocation_request_id }}';
    var projectName = '{{ title }}';
  </script>
  <script src='{% static "js/d3.v4.min.js" %}'></script>
  <script src='{% static "js/breadcrumbs.js" %}'></script>
  <script src='{% static "js/allocations.js" %}'></script>
  <script src='{% static "js/project_details.js" %}'></script>
{% endblock %}
