{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row my-4">
      <div class="col-12">
      <h4>Allocation details</h4>
        <div id="project-summary" class='project-details-container'></div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
      <h4>Allocation quota</h4>
        <div id="project-quota" class='project-details-container'></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  {{ allocation_url|json_script:"allocation-url" }}
  {{ forcode_series|json_script:"forcode-series" }}
  {{ allocation_request_id|json_script:"allocation-id" }}
  {{ title|json_script:"project-name" }}
  <script>
    // Global vars, JSON-decoded so embedded quotes / HTML in the source
    // values can never break out of the JS string context.
    var allocationURL = JSON.parse(document.getElementById('allocation-url').textContent);
    var forcodeSeries = JSON.parse(document.getElementById('forcode-series').textContent);
    var allocationId = JSON.parse(document.getElementById('allocation-id').textContent);
    var projectName = JSON.parse(document.getElementById('project-name').textContent);
  </script>
  <script src='{% static "js/d3.v4.min.js" %}'></script>
  <script src='{% static "js/breadcrumbs.js" %}'></script>
  <script src='{% static "js/allocations.js" %}'></script>
  <script src='{% static "js/project_details.js" %}'></script>
{% endblock %}
