{% extends "base_subnav.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <ul id="graph-buttons" class="nav nav-tabs pull-right">
      <li class="nav-item"><a id="cumulative" class="nav-link active" href="#">Cumulative</a></li>
      <li class="nav-item"><a id="frequency" class="nav-link" href="#">Frequency</a></li>
    </ul>

    <div class="row my-4">
      <div class="col-12">
        <div id="inner-plot-container">
          <div id="plot-area" class="plot-alignment chart-container">
            <canvas id="plot-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script src='{% static "js/chart.umd.min.js" %}'></script>
  <script src='{% static "js/chartjs-adapter-date-fns.bundle.min.js" %}'></script>
  <script src='{% static "js/chart_common.js" %}'></script>
  <script src='{% static "js/user_statistics.js" %}'></script>
{% endblock %}
