Source: langstroth
Section: unknown
Priority: optional
Maintainer: Russell Sim <russell.sim@gmail.com>
Build-Depends: debhelper (>= 9), python3-all (>= 2.6), python3-setuptools, python3-pip
Standards-Version: 3.9.5
Homepage: https://github.com/NeCTAR-RC/langstroth

Package: python3-langstroth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, libapache2-mod-wsgi-py3
Description: Check the status of the NeCTAR cloud
 langstroth, Check the status of the NeCTAR cloud
