{% extends "announcements/detail.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container mb-4">
  <div class="alert alert-danger">
    Are you sure you want to cancel this announcement?
  </div>
  <form action="{% url 'announcements:cancel' outage.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes</button>
    <button type="button" class="btn btn-secondary"
            onclick="window.location.href='{% url 'announcements:detail' outage.id %}';">No</button>
  </form>
</div>
{% endblock %}
