// Use ARDC Proxima Nova
@import url("https://use.typekit.net/nlr0joz.css");
// $font-family-sans-serif: "Proxima Nova", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: proxima-nova, sans-serif;
$font-size-base: 0.875rem;
$form-label-font-weight: 600;

// ARDC colours
$ardc-blue:   #00A2C4;
$ardc-pink:   #E51875;
$ardc-orange: #F8B20E;
$ardc-purple: #8E489B;
$ardc-grey:   #969696;

// Override bootstrap colours
$dark: #000000;
$blue: $ardc-blue;
$pink: $ardc-pink;
$orange: $ardc-orange;
$purple: $ardc-purple;
$gray: $ardc-grey;
$green: #549948;

$gray-100: #fcfcfc;
$gray-200: #EEEEEE;
$gray-300: #dddddd;
$gray-400: #c6c6c6;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #333333;
$gray-800: #222222;
$gray-900: #111111;

$primary:       $purple;
$secondary:     $gray;
$success:       lighten($green, 2%);
$info:          lighten($blue, 5%);
$warning:       lighten($orange, 5%);
$danger:        lighten($pink, 2%);

$body-bg:                   $gray-100;
$body-color:                $gray-900;

//$min-contrast-ratio: 1.5;
//$component-active-bg: $ardc-purple;
$navbar-brand-padding-y: 0;
$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 1.25rem;
// Bootstrap shadows
$enable-shadows: true;

$spacer: 1rem;
$link-color: darken($info, 15%) !default;
$btn-link-color: darken($primary, 10%) !default;
$btn-link-hover-color: darken($btn-link-color, 20%) !default;
$btn-box-shadow: false;
$btn-active-box-shadow: false;

// Bootstrap
@import "./bootstrap/bootstrap";

// Font awesome
$fa-font-path: "../webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  margin-top: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-width: 2px;
}

.btn-link {
  text-decoration: none;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn,
span.disabled {
  cursor: not-allowed !important;
}

.navbar-dark .navbar-nav .nav-link:not(#dropdownUser1) {
  text-transform: uppercase;
}

.nav-pills a.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

#status-banner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-bottom: 30px;
  background-color: $gray-800 !important;
  overflow: hidden;
  canvas#stars {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  h1 {
    color: $gray-500 !important;
  }
  .clouds {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    background-repeat: repeat-x;
  }
  #clouds1 {
    margin-bottom: 0px;
    /* opacity: .5; */
    background-image: url(../img/clouds1.svg);
    // animation: cloudMove 300s infinite;
    animation-timing-function: linear;
  }
  #clouds2 {
    margin-bottom: -30px;
    background-image: url(../img/clouds2.svg);
    // animation: cloudMove 200s infinite;
    animation-timing-function: linear;
  }
  #clouds3 {
    margin-bottom: 20px;
    background-position-x: -140px;
    background-image: url(../img/clouds3.svg);
    // animation: cloudMove 200s infinite;
    animation-timing-function: linear;
  }
}

@include media-breakpoint-down(md) {
  .clouds {
    height: 60px;
  }
}

/*
 * Footer
 */
 .footer {
  padding: 24px 0;
  .footer-text {
    a {
      &:hover,
      &:focus {
        color: $ardc-pink;
        text-decoration: underline;
      }
    }
    ul {
      list-style: none;
    }
  }
  h4 {
    text-transform:  uppercase;
    &:after {
      content: "";
      background: #fff;
      height: 2px;
      display: block;
      margin-top: 10px;
      max-width: 50px;
    }
  }
  .footer-links {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom:1px solid #eeeeee;
}

.status-icon:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.8em;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-ok:before {
  content: "\f00c";
  color: $success;
}

.icon-warning:before {
  content: "\f071";
  color: $warning;
}

.icon-critical:before {
  content: "\f00d";
  color: $danger;
}

.status-bg-ok {
  background-color: #dff0d8;
}

.status-bg-warning {
  background-color: #ffe0b2;
}

.status-bg-critical {
  background-color: #fcdfde;
}

.table-sorter th {
    cursor: pointer;
}

thead, tfoot {
    font-weight: bold;
}

#averages {
    padding-right:  200px;
}

img.graphite {
    background-image: url("/static/img/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.chart-container {
    height: 400px;
}

.sad-jumbotron div {
    margin: 0 auto;
}

.chart-tooltip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    padding: 5px;
    text-align: center;
}

/* Override the default nv.d3 fonts */
.nvd3 text {
  font: normal 13px Roboto !important;
  color: #666666;
}
.nvd3 .title {
  font: normal 13px Roboto !important;
  color: #666666;
}
.nvtooltip {
  font-family: Roboto !important;
  color: #666666;
}

.paused {
  animation-play-state: paused !important;
}

/*
 * CSS Animation Functions
 */

@keyframes cloudMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}