{% extends "base.html" %}
{% load nav_bar %}

{% block page-header %}
  <div id="page-header" class="container my-5">
    <ul class="nav nav-pills justify-content-end">
      <li role="presentaion" class="nav-item"><a class="nav-link {% active request 'infrastructure' %}" href="/growth/infrastructure/">Infrastructure</a></li>
      <li role="presentaion" class="nav-item"><a class="nav-link {% active request 'users' %}" href="/growth/users/">Users</a></li>
    </ul>

    <h1>{{ title }}
      <small class="lead">
        {{ tagline }}
      </small>
    </h1>
  </div>
{% endblock %}
