{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <p>These graphs show the available capacity as advertised by each NeCTAR site. The graphs show available slots per flavour based on RAM which is how the national scheduler picks a zone.</p>
    <p><b>NOTE</b>: These values are not 100% correct and don't take into account local scheduling policies.</p>
  </div>
</div>
<div class="row">
  <div id="graph-buttons" class="btn-group pull-right">
    <button id="6months" type="button" class="btn btn-default">6 months</button>
    <button id="1month" type="button" class="btn btn-default">1 month</button>
    <button id="1week" type="button" class="btn btn-default">1 week</button>
    <button id="1day" type="button" class="btn btn-default active">1 day</button>
  </div>
</div>

<div class="container">
{% for size in ram_sizes %}
  <div class="row">
    <h4>Flavour Size: {{ size }}MB</h4>
    <svg class="chart" id="capacity_{{ size }}" data-url="/capacity/{{ size }}"></svg>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block extra_head %}
<link href='{{ STATIC_URL }}css/nv.d3.min.css' type='text/css' media='screen' rel='stylesheet'/>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/d3.v3.js"></script>
<script src="{{ STATIC_URL }}js/nv.d3.js"></script>
<script src="{{ STATIC_URL }}js/capacity.js"></script>
{% endblock %}
