{% extends "base.html" %}
{% load static %}

{% load nav_bar %}

{% block page-header %}
  <ul class="nav nav-tabs">
    <li role="presentaion" class="{% active request 'domain' %}"><a href="/composition/domain/">Domain</a></li>
    <li role="presentation" class="{% active request 'allocation_home' %}"><a href="/composition/allocation_home/">Allocation home</a></li>
  </ul>

  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="container">
    <p>{{ desc }}</p>
  </div>
</div>

<div class="row">
  <div class="container">
    <ul id="graph-buttons" class="nav nav-tabs pull-right">
      <li id="all" class="active"><a href="#" data-toggle="tab">All</a></li>
      <li id="melbourne"><a href="#" data-toggle="tab">Melbourne University</a></li>
      <li id="monash"><a href="#" data-toggle="tab">Monash University</a></li>
      <li id="qld"><a href="#" data-toggle="tab">QCIF</a></li>
      <li id="tasmania"><a href="#" data-toggle="tab">Tasmania</a></li>
      <li id="intersect"><a href="#" data-toggle="tab">Intersect</a></li>
      <li id="swinburne"><a href="#" data-toggle="tab">Swinburne</a></li>
      <li id="auckland"><a href="#" data-toggle="tab">Auckland</a></li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div id="viz"></div>
{% endblock %}

{% block extra_script %}
<script src='{% static "js/d3.v4.js" %}'></script>
<script src='{% static "js/composition.js" %}'></script>
{% endblock %}
