{% extends "base.html" %}
{% load static %}

{% load nav_bar %}

{% block page-header %}
  <div id="page-header" class="container my-5">
    <ul class="nav nav-pills justify-content-end">
      <li role="presentaion" class="nav-item"><a class="nav-link {% active request 'domain' %}" href="/composition/domain/">Domain</a></li>
      <li role="presentaion" class="nav-item"><a class="nav-link {% active request 'allocation_home' %}" href="/composition/allocation_home/">Allocation Home</a></li>
    </ul>

    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <p>{{ desc }}</p>
  </div>

  <div class="row">
    <ul id="graph-buttons" class="nav nav-tabs pull-right">
      {% for tab in tabs %}
      <li class="nav-item">
        <a class="nav-link {% if tab.first %}active{% endif %}" href="#"
           data-toggle="tab" id="{{ tab.0 }}">{{ tab.1 }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div id="viz"></div>
{% endblock %}

{% block extra_script %}
<script src='{% static "js/d3.v6.min.js" %}'></script>
<script src='{% static "js/composition.js" %}'></script>
{% endblock %}
