{% extends "base.html" %}

{% load nav_bar %}

{% block page-header %}
  <div role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-target=".subnav-collapse" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse subnav-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% active request 'domain' %}"><a href="/composition/domain/">Domain</a></li>
          <li class="{% active request 'allocation_home' %}"><a href="/composition/allocation_home/">Allocation home</a></li>
        </ul>
      </div>
    </div>
  </div>

  <h1>{{ title }}</h1>
{% endblock %}


{% block content %}
<div class="row">
  <div id="graph-buttons" class="btn-group pull-right">
    <button id="all" type="button" class="btn btn-default active">All</button>
    <button id="melbourne" type="button" class="btn btn-default">Melbourne University</button>
    <button id="monash" type="button" class="btn btn-default">Monash University</button>
    <button id="qld" type="button" class="btn btn-default">QCIF</button>
    <button id="sa" type="button" class="btn btn-default">ERSA</button>
    <button id="NCI" type="button" class="btn btn-default">NCI</button>
    <button id="tasmania" type="button" class="btn btn-default">Tasmania</button>
    <button id="intersect" type="button" class="btn btn-default">Intersect</button>
    <button id="swinburne" type="button" class="btn btn-default">Swinburne</button>
    <button id="auckland" type="button" class="btn btn-default">Auckland</button>
  </div>
</div>
<br />
<div class="row">
  <p>{{ desc }}</p>
</div>
<div class="clearfix"></div>
<div id="viz"></div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/d3.v3.js"></script>
<script src="{{ STATIC_URL }}js/composition.js"></script>
{% endblock %}
