{% extends "base.html" %}


{% block content %}
<div class="row">
  <div id="graph-buttons" class="btn-group pull-right">
    <button id="all" type="button" class="btn btn-default active">All</button>
    <button id="melbourne" type="button" class="btn btn-default">Melbourne University</button>
    <button id="monash" type="button" class="btn btn-default">Monash University</button>
    <button id="qld" type="button" class="btn btn-default">QCIF</button>
    <button id="sa" type="button" class="btn btn-default">ERSA</button>
    <button id="NCI" type="button" class="btn btn-default">NCI</button>
    <button id="tasmania" type="button" class="btn btn-default">Tasmania</button>
    <button id="intersect" type="button" class="btn btn-default">Intersect</button>
    <button id="swinburne" type="button" class="btn btn-default">Swinburne</button>
    <button id="auckland" type="button" class="btn btn-default">Auckland</button>
  </div>
</div>
<div class="row">
  <p>
    This graph shows a break down of usage by the number of VCPUs allocated,
    grouped by the domain of the user who launched a VM.  As a result this
    graph isn't a true representation of the number of VM's being used by an
    institution, since many allocations have collaborators from different
    institutions.
  </p>
</div>
<div class="clearfix"></div>
<div id="viz"></div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/d3.v3.js"></script>
<script src="{{ STATIC_URL }}js/domains.js"></script>
{% endblock %}
