{% extends "base_subnav.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div id="graph-buttons" class="btn-group pull-right">
    <button id="alltime" type="button" class="btn btn-default">All</button>
    <button id="5years" type="button" class="btn btn-default">5 years</button>
    <button id="3years" type="button" class="btn btn-default">3 years</button>
    <button id="1year" type="button" class="btn btn-default">12 months</button>
    <button id="6months" type="button" class="btn btn-default active">6 months</button>
    <button id="1month" type="button" class="btn btn-default">1 month</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4>Total Instances</h4>
    <div class="chart-container">
      <svg class="chart" id="instance_count" data-url="/growth/instance_count"></svg>
    </div>
  </div>
  <div class="row">
    <h4>Used VCPUs</h4>
    <div class="chart-container">
      <svg class="chart" id="vcpu_used" data-url="/growth/used_cores"></svg>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_head %}
<link href='{% static "css/nv.d3.min.css" %}' type='text/css' media='screen' rel='stylesheet'/>
{% endblock %}

{% block extra_script %}
<script src='{% static "js/d3.v3.js" %}'></script>
<script src='{% static "js/nv.d3.js" %}'></script>
<script src='{% static "js/growth.js" %}'></script>
{% endblock %}
