{% extends "base.html" %}

{% block content %}
<div class="row">

  {% if hosts %}
  <div class="col-md-12">
    <h4>6 month average from {{ report_range }}</h4>
    <table class="table">
      <tbody>
        <tr>
          <td class="success" title="Service OK">OK: {{ average.ok }}</td>
          <td class="warning" title="Service Warning">Warning: {{ average.warning }}</td>
          <td class="danger" title="Service Critical">Critical: {{ average.critical }}</td>
          <td class="active" title="Service Unknown">Unknown: {{ average.unknown }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% for host in hosts %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ host.hostname }}</h3>
      </div>
      {% for service in host.services %}
      <div class="panel-body">
        <h3 class="panel-title">
          {% if service.status|lower == 'ok' %}
          <span title="Service is {{service.status}}"
                class="glyphicon glyphicon-ok text-success">
          </span>
          {% elif service.status|lower == 'warning' %}
          <span title="Service is {{service.status}}"
                class="glyphicon glyphicon-warning-sign text-warning">
          </span>
          {% elif service.status|lower == 'critical' %}
          <span title="Service is {{service.status}}"
                class="glyphicon glyphicon-remove text-danger">
          </span>
          {% else %}
          <span title="Service is {{service.status}}"
                class="glyphicon glyphicon-question-sign glyphicon-warning text-muted">
          </span>
          {% endif %}
          {{ service.display_name }}
          <small title="Last checked">{{ service.last_checked }}</small>
        </h3>
      </div>
      <table class="table">
        <tr>
          <td>Availability</td>
          <td class="success" title="Service OK">{{ service.availability.ok }}</td>
          <td class="warning" title="Service Warning">{{ service.availability.warning }}</td>
          <td class="danger" title="Service Critical">{{ service.availability.critical }}</td>
          <td class="active" title="Service Unknown">{{ service.availability.unknown }}</td>
        </tr>
      </table>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% else %}


    <div class="sad-jumbotron col-md-6 col-md-offset-3">
      <img src="{{ STATIC_URL }}img/sad.png" class="img-responsive"/>
      <p class="lead">Ooohhhh, noooo. I have no cloud friends.
    </div>

  {% endif %}

</div>
{% endblock %}
